@page "/gettest"

<PageTitle>Get Test</PageTitle>

@using SDN.Data
@inject ONOSGetService GetService;
@inject ONOS onos;

<h1>ONOS Get Test</h1>



<h3>ONOS IP Address : @onos.onosipadd ,ONOS Port : @onos.onosport </h3>
<br />
<button @onclick="ONOSGetTest" class="btn btn-primary">ONOS Get Test button</button>
<br />
<br />

<p>
    <h2>Devices json string</h2>
    @onos.devices_json
    <h2>Hosts json string</h2>
    @onos.hosts_json
    <h2>Links json string</h2>
    @onos.links_json
    <h2>Flows json string</h2>
    @onos.flows_json
    <h2>Network / Configuration json string</h2>
    @onos.networkconfiguration_json
</p>

@code {

    void ONOSGetTest()
    {
        onos.devices_json = GetService.GetONOSInformation(onos, "devices");
        onos.hosts_json = GetService.GetONOSInformation(onos, "hosts");
        onos.links_json = GetService.GetONOSInformation(onos, "links");
        onos.flows_json = GetService.GetONOSInformation(onos, "flows");
        onos.networkconfiguration_json = GetService.GetONOSInformation(onos, "network/configuration");
    }
}
