@page "/gettest"

<PageTitle>Get Test</PageTitle>

@using SDN.Data
@inject ONOSGetService GetService;
@inject ONOS onos;

<h1>ONOS Get Test</h1>



<h3>ONOS IP Address : @onos.onosipadd ,ONOS Port : @onos.onosport </h3>
<br />
<button @onclick="ONOSGetTest" class="btn btn-primary">ONOS Get Test button</button>
<br />
<br />

<p>
    <h2>Devices json string</h2>
    @onos.devices_jsonstring
    <h2>Hosts json string</h2>
    @onos.hosts_jsonstring
    <h2>Links json string</h2>
    @onos.links_jsonstring
    <h2>Flows json string</h2>
    @onos.flows_jsonstring
    <h2>Network / Configuration json string</h2>
    @onos.networkconfiguration_jsonstring
</p>

@code {

    void ONOSGetTest()
    {
        onos.devices_jsonstring = GetService.GetONOSInformation(onos, "devices");
        onos.hosts_jsonstring = GetService.GetONOSInformation(onos, "hosts");
        onos.links_jsonstring = GetService.GetONOSInformation(onos, "links");
        onos.flows_jsonstring = GetService.GetONOSInformation(onos, "flows");
        onos.networkconfiguration_jsonstring = GetService.GetONOSInformation(onos, "network/configuration");
    }
}
